@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.calc-btn {
  background-color: silver;
  color: black;
  width: 25px;
  height: 45px;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  font-weight: 100;
  padding-top: 3px;
}
.calc-btn:hover{
  background-color: orange;
}
.row {
  display: table;
  table-layout: fixed;
  width: 200px;
}
.column {
  display: table-cell;
}
#calc-zero {
  width: 98.66666667px;
}
#calc-clear {
  width: 98.66666667px;
}
